<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>
    <link rel = "stylesheet" type = "text/css" href = "style.css" />

</head>

<body>
    <div id="app">
        <!-- Data & Methods-->
        <!-- <h1>Data & Methods</h1>
        <h1>{{greet('afternoon')}}</h1>
        <p>{{name}}</p> -->

        <!-- Data Binding -->
        <!-- <h1>Data Binding</h1>
        <a v-bind:href="website">google.co.uk</a>
        <br/>
        <br/>
        <input type="text" v-bind:value="name"/> -->

        <!-- Events -->
        <!-- <h1>Events</h1>
        <button v-on:click="add">Add a Year</button>     
        <button v-on:click="subtract">Subtract a Year</button>     
        <p>My age is {{ age }}</p>

        <h3>Event Modifier</h3>
        <a v-on:click.prevent="click" href="http://www.google.co.uk">Google</a> -->

        <!-- Two Way data binding-->
        <!-- <h1>Two Way Data Binding</h1>    
        <input type="text" v-model="name" /><br />
        <span>{{ name }}</span>
        <input type="text" v-model="age" /><br />    
        <span>{{ age }}</span> -->

        <!-- Looping V-FOR -->
        <!-- <h1>Looping V-For</h1>
        <ul>
            <li v-for="character in characters">{{ character }}</li>
        </ul>
        <ul>
            <li v-for="ninja in ninjas">{{ ninja.name }} - {{ ninja.age }}</li>
        </ul> -->

        <!--Conditionals-->
        <!-- <h1>Conditionals</h1>
        <button v-on:click="error = !error">Toggle Error</button>
        <button v-on:click="success = !success">Toggle Success</button>
        <p v-if="error">There has been an error</p>
        <p v-else-if="success">Whooo Success!!</p> -->
        <!-- <p v-show="error">There has been an error</p>
        <p v-show="success">Whooo, Success!</p> -->

        <!-- Punchbag Game -->

        <!-- Bag image -->
        <!-- <div id="bag" v-bind:class="{burst: ended}"></div> -->

        <!-- Bag health -->
        <!-- <div id="bag-health">
            <div v-bind:style="{width: health + '%'}"></div>
        </div> -->


        <!-- Game controls -->
        <!-- <div id="controls">
            <button v-on:click="punch" v-show="!ended">Punch</button>
            <button v-on:click="restart">Restart</button>
        </div> -->

        <div class="btn-container">
            <button v-on:click="seen = !seen">Toggle</button>
        </div>

        <p class="title" v-if="seen">{{ name }}</p>

        <ul>
            <li class="feature-list" v-for="feature in features" v-if="seen">{{ feature }}</li>
        </ul>
        <img src="images/goodger.jpeg" v-if="seen" class="lauren" alt="Lauren Goodger" />

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</body>
</html>