
/* span {
    background: red;
    display: inline-block;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
}

.available span {
    background: green;
}

.nearby span:after {
    content: "nearby";
    margin-left: 10px;
} */

/* #bag {
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background: url('images/bag.png') center no-repeat;
    background-size: 80%;
}

#bag.burst {
    background: url('images/bag-burst.png') center no-repeat;
    background-size: 80%;
}

#bag-health {
    width: 200px;
    border: 2px solid #000;
    margin: 0 auto 20px auto;
} 

#bag-health div {
    height: 20px;
    background: crimson;
}

#controls {
    width: 120px;
    margin: 0 auto;
} */

.lauren {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid plum;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.feature-list {
    text-align: center;
    list-style-type: none;
}

.description-content {
    text-align: center;
}

.btn-container {
    width: 193px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.btn-container button {
    background-color: blue;
    border-radius: 5px;
    color: #fff;
    width: 200px;
    height: 30px;
}




